body {
    font-family: Poppins,sans-serif;
    display: flex;
    background: var(--background);
}
:root {
    --background:#fff;
    --text:#000;
}
* {
    transition: all 0.1s ease-in-out;
  }
  html[data-theme='light'] {
    --background:#fff;
    --text:#000;
    --value:rgba(0, 0, 0, 0.62);
    --border:1px solid rgba(0, 0, 0, 0.4);
}
html[data-theme='dark'] {
    --background:#000;
    --text:#fff;
    --value:#fff;
    --border:1px solid rgba(0, 119, 255, 0.4);
}
#button {
    width: 312px;
    height: 48px;
    border-radius: 5px;
    border:transparent;
    background-color: #0E64D2;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}
h1,p,label {
    color: var(--text);
}
h1 {
    font-size: 24px;
    text-align: center;
}
#password,#result {
    width: 312px;
    height: 48px;
    color:var(--value);
    font-size: 16px;
    border-radius: 10px;
    border: var(--border)
}
section {
    margin: 0 auto;
    margin-top: 5%;
    max-width: 500px;
    min-width: 300px;
    display: block;
  }
.checkbox {
    display: flex;
}
#switch-style {
    position: absolute;
    font-size: 25px;
    bottom: 0;
    right: 0;
}
#password,#result,.wynik,.haslo {
    margin: 0 0 20px;
}
.encrypt {
    margin-left: 90px;
}
input {
    border: inherit;
    background: inherit;
    background-color: var(--background);
    margin-right: 6px;
    width: 20px;
}

p {
    font-family: "Manrope",sans-serif;
    font-weight: 600;
}
.undertext {

    font-family: 'Manrope', sans-serif!important;
    font-weight: 600;
}
input:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
}
a {
    text-decoration: none;
    margin-left: 1.9em;
    color:#160062;
    font-weight: 600;
    font-family: 'Manrope', sans-serif!important;
}